modules = ["nodejs-20", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]

[[workflows.workflow]]
name = "js"
mode = "sequential"
author = 33451228

[[workflows.workflow.tasks]]
task = "packager.installForLanguage"
args = "nodejs"
